
p.head {
  text-indent: 30px;
  font-size: 103%;
  text-align: justify;
}

p.reg {
  text-indent: 60px;
  text-align: justify;
}

p.plch {
  text-indent: 30px;
  font-size: 105%;
  text-align: justify;
  border-style: solid;
  /* border-color: #000000; */
  border-width: 2px;
  border-radius: 20px;
  padding: 10px;
  font-variant: small-caps;
}

h2 {
  text-align: center;
}

h3 {
  text-align: left;
}



