

span.trm {
  font-weight: bold;
}

span.trm:after {
  font-weight: normal;
  content: "\00a0:";
}

div.ntr {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

div.edfn {
  margin-top: 10px;
  font-size: 95%;
  padding-left: 20px;
  padding-right: 20px;
}


